body {
    background-color: #696969;
}

#header {
    background-color: #34137c;
    padding-top: 20px;
    padding-bottom: 1px;
    border-bottom: 20px solid #2bc7bb;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
}

h1 {
    font-size: 50px;
    color: #dcddcd;
    font-family: "indie-flower",  sans-serif;
    padding-left: 200px;
}

#notifications {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    border: 2px solid #2bc7bb;
    color: #dcddcd;
    display: block;
    padding: 15px;
    margin-left: 1250px;
    margin-top: -100px;
    margin-bottom: 30px;
    width: 150px;
}

#navbar {
    list-style-type: none;
    border-left: 2px solid #2bc7bb;
    border-right: 2px solid #2bc7bb;
    width: 100px;
    margin-left: -9px;
    margin-top: 0px;
    background-color: #34137c;
}

h2 {
    font-size: 25px;
    font-family: sans-serif; 
    color: #363635;
    padding-left: 35px;
}

li.page {
    border-bottom: 2px solid #2bc7bb;
    width: 141px;
    margin-left: -40px;
}

a.plinks {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    color: #dcddcd;
    display: block;
    padding: 15px;
}

#flist {
    list-style-type: none;
    font-family: serif;
    font-size: 20px;
    color: #363635;
    border-top: 5px solid #363635;
}

li.friend {
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #363635;
    width: 630px;
    margin-left: -40px;
    display: block;
}

div.list{
    background-color: #ffffff;
    border: 5px solid #363635;
    width: 650px;
    margin-left: 400px;
    margin-top: -725px;
}

html, body, #navbar {
    height: 100%;
}