li.page {
    border-bottom: 2px solid #2bc7bb;
    width: 141px;
    margin-left: -40px;
}

a.plinks {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    color: #dcddcd;
    display: block;
    padding: 15px;
}

#howtoplay {
    margin-left: 400px;
    margin-top: -725px;
    width: 850px;
}

h2 {
    font-size: 25px;
    font-family: sans-serif;
    background-color: white;
    border-bottom: 3px solid #363635;
    padding: 15px;
    color: #363635;
}

p {
    font-size: 18px;
    font-family: serif;
    background-color: white;
    margin-top: -21px;
    padding: 15px;
    padding-top: 25px;
    color: #000000; 
}

html, body, #navbar {
    height: 100%;
}