li.page {
    border-bottom: 2px solid #2bc7bb;
    width: 141px;
    margin-left: -40px;
}

a.plinks {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 25px;
    color: #dcddcd;
    display: block;
    padding: 15px;
}

html, body, #navbar {
    height: 100%;
}